<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Event_Management_Demo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Event_Management_Demo.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Sidebar.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 ">
                <div class="w-100 d-flex flex-column align-items-center align-items-sm-start px-3 pt-2  min-vh-100">
                    <a  class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline">Menu</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item w-100">
                            <a asp-action="Dashboard" asp-controller="Home" class="nav-link px-0 align-middle">
                                <img class="sidebar-icon" src="https://img.icons8.com/ios-filled/50/laptop-metrics.png" alt="laptop-metrics" /> <span class="ms-1 d-none d-sm-inline">Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item w-100">
                            <a asp-controller="Home" asp-action="EventsPage" class="nav-link align-middle px-0">
                                <img class="sidebar-icon" src="https://img.icons8.com/external-yogi-aprelliyanto-basic-outline-yogi-aprelliyanto/64/external-calender-time-and-date-yogi-aprelliyanto-basic-outline-yogi-aprelliyanto.png" /> <span class="ms-1 d-none d-sm-inline"> Events page</span>
                            </a>
                        </li>
                        <li class="nav-item w-100">
                            <a asp-controller="Home" asp-action="CreatedEvents" class="nav-link px-0 align-middle">
                                <img class="sidebar-icon" src="https://img.icons8.com/dotty/80/event-management.png" alt="event-management" /> <span class="ms-1 d-none d-sm-inline">My Created Events</span>
                            </a>
                        </li>
                        <li class="nav-item w-100">
                            <a asp-controller="Home" asp-action="ParticipatedEvents" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                <img class="sidebar-icon" src="https://img.icons8.com/ios/50/event-accepted.png" alt="event-accepted" /> <span class="ms-1 d-none d-sm-inline"> My Participated Events</span>
                            </a>
                        </li>
                    </ul>
                    <hr>
                    <div class="dropdown pb-4">
                        <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <h3><i class="bi bi-person-circle"></i></h3>
                            <h3 class="d-sm-inline mx-1" id="userName"></h3>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                            @*<li><a class="dropdown-item" href="#">New project...</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>*@
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" asp-action="Logout" asp-controller="Account">Sign out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col py-3">
                <div class="container">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>
    </div>




    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/HomeScript.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function(){
            gettingUserDetails();
        });
    </script>
</body>
</html>
