html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

/*Cards badges*/
.badge1 {
    width: 95px;
    display: inline-block;
    padding: 0.35em .65em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    color: white !important;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0 50px 50px 0;
}

.badgeclass {
    left: -4px;
}
/*End of Cards badges*/

.mission-img {
    object-fit: cover;
}

::-webkit-scrollbar {
    height: 10px;
    width: 0.45rem;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(27, 27, 27, 0.4);
    border-radius: 3px;
}

::-webkit-scrollbar-track {
    background: transparent;
}