@{
    ViewData["Title"] = "Email Sent";
}
<style>
    body {
        font-family: Arial, sans-serif;
        text-align: center;
    }
</style>

<div style="margin:15% 0;">
    <h1>Email Has been Sent.</h1>
    <img src="~/Images/EmailSent.PNG"/>
</div>