@model Event_Management.Entities.Models.User
@{
    ViewData["Title"] = "Registration Page";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
<div class="container-fluid mx-0 my-auto">
    <div class="row" style="height:100vh">
        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 ps-0">

            <div class="carousel-item active">
                <img src="~/Images/Poster3.jpg"
                     class="d-block  w-100" alt="..." style="height:100vh">
            </div>


        </div>
        <div id="form" class="col-lg-4 col-md-12 col-sm-12 col-xs-12 align-self-center my-auto">
            <form asp-controller="Account" asp-action="Registration" method="post" class="col-lg-10 col-md-10 col-sm-10 col-xs-10 mx-auto" id="myform">
                <div class="form-group mb-2">
                    <label asp-for="FirstName" class="form-label">First Name</label>
                    <input asp-for="FirstName" type="text" class="form-control" id="exampleFirstName" placeholder="Enter Your Frist Name" pattern="[A-Za-z]{16}">
                    <span class="text-danger" asp-validation-for="FirstName"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="LastName" class="form-label">Last Name</label>
                    <input asp-for="LastName" type="text" class="form-control" id="exampleLastName" placeholder="Enter Your Last Name" pattern="[A-Za-z]{16}">
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="Email" class="form-label">Email address</label>
                    <input asp-for="Email" type="email" class="form-control" id="exampleemail" aria-describedby="emailHelp"
                           placeholder="Enter YourEmail ID">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="Password" class="form-label">Password</label>
                    <input asp-for="Password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Create Your Password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control" id="exampleInputPassword2" placeholder="Confirm Password">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="UserName" class="form-label">User Name</label>
                    <input asp-for="UserName" type="text" class="form-control" id="exampleUserName" placeholder="Enter Your UserName">
                    <span class="text-danger" asp-validation-for="UserName"></span>
                </div>
                <button id="register-btn" class="btn btn-primary col-12 my-4" type="submit">Register </button>

                <div id="lost-password-div" class="">
                    <a asp-controller="Account" asp-action="ForgotPassword" id="lost-password" class="">Lost your password?</a>
                    <p class="mt-2">Already registered?<a asp-controller="Account" asp-action="Login" class="px-2">Login now</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
